{% extends 'layout.html' %}
{% block title %}Eulerian curcuit{% endblock %}
{% block header %}Eulerian curcuit{% endblock %}
{% block central %}

    <div id="mygraph">

    </div>
    <button type="button" class="btn btn-primary btn-block" id="addvert">Add vertex</button>
    <!-- Trigger the modal with a button -->
<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">Add edge</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add edge</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2" for="from">From:</label>
            <div class="col-sm-10">
                <input class="form-control" type="number" name="from" id="from" required/>
            </div>
        </div>
        <div class="form-group">
        <label class="control-label col-sm-2" for="to">To:</label>
            <div class="col-sm-10">
                <input type="number" name="to"  class="form-control" id="to" required/>
            </div>
        </div>

    </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="adder" class="btn btn-default" data-dismiss="modal">Add</button>
      </div>
    </div>

  </div>
</div>
    <form action="http://127.0.0.1:8000/ecresult/" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    <input type="text" name="result" id="result" style="visibility: hidden"/>
    </form>

    <script>
    $(document).ready(function () {
        $("#result").val("{\"vertices\":[], \"edges\":[]}");
    });
    $('#addvert').click(function () {
        var graph = JSON.parse($('#result').val());
        var size = graph.vertices.length;
        graph.vertices.push(size + 1);
        nodes.add({id: size + 1, label: (size+1).toString()});
        $('#result').val(JSON.stringify(graph));
    });
    $("#adder").click(function () {
        var graph = JSON.parse($('#result').val());
        var from = Number($("#from").val());
        var to = Number($("#to").val());
        if ($.inArray(from, graph.vertices) >= 0 && $.inArray(to, graph.vertices) >= 0){
            graph.edges.push({"from": from, "to": to});
            edges.add({"from": from, "to": to});
        }
        else{
            alert("No such vertex");
        }
        $('#result').val(JSON.stringify(graph));
        $("#from").val("");
        $("#to").val("");
    });



      // create an array with nodes
      var nodes = new vis.DataSet([
      ]);

      // create an array with edges
      var edges = new vis.DataSet([
      ]);

      // create a network
      var container = document.getElementById('mygraph');
      var data = {
        nodes: nodes,
        edges: edges
      };
      var options = {
          height: '400px'
      };
      var network = new vis.Network(container, data, options);

    </script>
{% endblock %}
