<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.css" rel="stylesheet"/>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"/>
    <link href="{% static "Treant.css" %}" rel="stylesheet"/>
    <link href="{% static "css/style.css" %}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.js"></script>
    <script src="{% static "vendor/raphael.js" %}"></script>
    <script src="{% static "Treant.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <title>{% block title %}{% endblock %}</title>
<style>
.chart { height: 159px; width: 332px; margin: 5px;border: 3px solid #DDD; border-radius: 3px; }
.node { color: #9CB5ED; border: 2px solid #C8C8C8; border-radius: 3px; }
.node p { font-size: 20px; line-height: 22px; height: 30px; font-weight: bold; padding: 3px; margin: 0; }</style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
  {% if not request.user.id is None %}
     <ul class="nav navbar-nav">
      <li class="active"><a href="http://127.0.0.1:8000/index"><span class="glyphicon glyphicon-home"></span>Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Graphs
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="http://127.0.0.1:8000/shortest">Shortest path</a></li>
          <li><a href="http://127.0.0.1:8000/minimalspanningtree">Minimal spanning tree</a></li>
          <li><a href="http://127.0.0.1:8000/euleriancurcuit">Eulerian circuit</a></li>
            <li><a href="http://127.0.0.1:8000/isomorphic">Isomorphism</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Trees
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="http://127.0.0.1:8000/binary">Binary tree</a></li>
          <li><a href="http://127.0.0.1:8000/avl">Avl tree</a></li>
          <li><a href="#">Red-black tree</a></li>
            <li><a href="#">B-tree</a></li>
        </ul>
      </li>
      <li><a href="#">Page 3</a></li>
    </ul>
  {% endif %}
      <ul class="nav navbar-nav navbar-right">
          {% if request.user.id is None %}
              <li><a href="http://127.0.0.1:8000/signup"><span class="glyphicon glyphicon-flag"></span>Sign up</a></li>
              <li><a href="http://127.0.0.1:8000/login"><span class="glyphicon glyphicon-user"></span>Log in</a></li>
          {% endif %}
          {% if not request.user.id is None %}
              <li><a href="http://127.0.0.1:8000/logout"><span class="glyphicon glyphicon-trash"></span>Log out</a></li>
          {% endif %}
      </ul>
  </div>
</nav>
<h1 align="center">{% block header %}{% endblock %}</h1>
<div class="container-fluid" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-2">{% block left %} {% endblock %}</div>
        <div class="col-md-8">{% block central %} {% endblock %}</div>
        <div class="col-md-2">{% block right %} {% endblock %}</div>
    </div>
</div>
</body>
</html>