{% extends 'layout.html' %}
{% block title %}Sequential result{% endblock %}
{% block header %}Sequential result{% endblock %}
{% block central %}
    <table class="table table-hover">
    <tbody>
    <tr class="success">
        <td style="border: 2px solid black;">Is closed</td>
        <td style="border: 2px solid black;">{{ result }}</td>
    </tr>
    <tr class="success">
        <td style="border: 2px solid black;">Counterexample</td>
        <td style="border: 2px solid black;">
            {% for item in example %}
                {{ item.0 }} : {{ item.1 }}<br>
            {% endfor %}
        </td>
    </tr>
    </tbody>
    </table>
    <div id="tree-simple" style="width:100%; height: 400px"></div>

    <script>

        var tree = "{{ tree }}";
        var tr = JSON.parse(tree.replace(/&quot;/g, "\""));
        console.log(tr);

        simple_chart_config = {
            chart: {
                container: "#tree-simple"
            },
            nodeStructure: tr
        };
        var my_chart = new Treant(simple_chart_config);
    </script>
{% endblock %}